<div class="login-container">
  <div class="form-wrapper">
    <form class="login-form" (submit)="loginUser($event)">
      <div class="input-section">
        <label for="username">Username</label>
        <input type="text" id="username" placeholder="Username" />
      </div>
      <div class="input-section">
        <label for="password">Password</label>
        <input type="password" id="password" placeholder="Password" />
      </div>
      <input type="submit" value="Submit" />
    </form>
  </div>
</div>
