.login-form {
  display: flex;
  flex-direction: column;
  div input {
    width: 20vw;
  }
  .input-section {
    margin: 0.5em;
    display: flex;
    justify-content: end;
    align-items: center;
    justify-items: center;
  }
  label {
    letter-spacing: 0.1em;
    margin-right: 0.2em;
  }
}

.form-wrapper {
  display: inline-block;
  padding: 1em;
  margin: 20vh 30vw;
}

.btn-login {
  margin-top: 0.5em;
  margin-right: 0.7em;
  min-width: 100px;
  align-self: end;
}
